.header {
    background-color: #282c34;
    display: flex;
    align-items: center;
  justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height:10vh;
    width:100vw;
    gap:5px;
  }
  
  .logo{
    padding-top:5px;
  
  }